body {
    padding-top: 50px;
}

.content_wrapper {
    padding: 15px 15px 15px 15px;
}

#map_container { height: 100%; padding-top: 10px; }
#map { height: 100%; }

#content, html, body, #map_container, #map {
    height: 100%;
    width: 100%;
}

.navbar-right {
	margin-right: 0px;
}

.table_of_content {
	margin-top: 10px;
}

.anchor {
	padding-top: 65px;
	margin-top: -65px;
	display: inline-block;
}