body {
    padding-top: 50px;
    background-color: #ffffff;
}

/*Navigationsleiste*/
#mainNav {
    background-color: transparent;
}

.refugee {
   background-color: #003171 !important;
}

#page-top {
    padding-top: 0px;
}

.content_wrapper {
    padding: 15px 15px 15px 15px;
}

#sharing {
    height: 100%;
    padding-top: 10px;
}

#sharing-info {
    width: 35%;
    height: 100%;
    float: left;
    background-color: white;
    /* Mache diesen Teil in sich scrollbar */
    overflow-y: auto;
}

#sharing-index-items > .container {
    color: #1F4788;
    margin: 10px;
    /*Der Inhalt wird hiermit dynmamisch skaliert*/
    width: auto;
    padding-left: 0px;
    padding-bottom: 0px;
    background-color: white;
    
    box-shadow: 3px 5px 10px grey;
}

#sharing-index-items > .container > a {
    color: black;
    text-decoration: none;
}

#sharing-index-items > .container > a > img {
    height: 80px;
    width: 80px;
    
    background-color: lightgray;
    float: left;
    margin-right: 5px;
}

#sharingmap {
    width: 65%;
    height: 100%;
    float: right;
}

/* Wenn der Bildschrim zu klein ist, dann liste die EInträge untereinander */
@media(max-width: 500px) {
    #sharingmap {
        width: 100%;
        height: 600px;
    }

    #sharing-info {
        width: 100%;
        /* Die Liste soll auf dynamisch nach der Länge vergrössert werden */
        height: auto;
        text-align: center;
    }
}

#map_container {
    height: 100%;
    padding-top: 10px;
}

#map {
    height: 100%;
    color: black;
}

#content, html, body, #map_container, #map {
    height: 100%;
    width: 100%;
}

.navbar-right {
    margin-right: 0px;
}

.table_of_content {
    margin-top: 10px;
}

.anchor {
    padding-top: 65px;
    margin-top: -65px;
    display: inline-block;
}

#services, #contact {
    background-color: #fff;
    color: #1F4788;
}

.formbutton {
    margin-right: 10px;
}

.pinkbutton {
    background-color: #FF4081 !important;
    color: #fff !important;
    border-radius: 3px;
}

.dropbutton:active {
    background-color: #375A7F !important;
}

#left_col {
    float:left;
    width:50%;
}

#right_col {
    float:right;
    width:50%;
}

.questions {
    max-width: 1000px;
    margin: 0 auto;
    color: #303030;
}

.panel {
    color: black;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 5px lightgrey;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.panel-heading {
    border-radius: 0px;
}

.form-control, input, input:active, .form-control:active, .form-control:focus, textarea, .btn-default {
    border: 2px solid #303030;
    border-radius: 300px;
}

.dropbutton {
    border-radius: 3px;
}

label {
    color: #303030;
}

.logo {
    max-width:35px;
    margin-top: -7px;
    width: 100%;
}

.dropdown-menu {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px lightgrey;
    cursor: pointer;
}

.black-text {
    color: black !important;
}

#language-switch
{
    box-shadow: none !important;
}

.affix
{
    background-color: white !important;
}