body {
    padding-top: 50px;
}
#page-top {
    padding-top: 0px;
}
.content_wrapper {
    padding: 15px 15px 15px 15px;
}

#map_container {
    height: 100%;
    padding-top: 10px;
}

#map {
    height: 100%;
    color: black;
}

#content, html, body, #map_container, #map {
    height: 100%;
    width: 100%;
}

.navbar-right {
    margin-right: 0px;
}

.table_of_content {
    margin-top: 10px;
}

.anchor {
    padding-top: 65px;
    margin-top: -65px;
    display: inline-block;
}

#services, #contact {
    background-color: #fff;
    color: #333;
}

.formbutton {
    margin-top: 20px;
    margin-right: 10px;
}

.dropbutton {
    background-color: #F05F40 !important;
    color: #fff !important;
}

.dropbutton:active {
    background-color: #375A7F !important;
}